services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "${PORT}:5050"
    environment:
      - host=0.0.0.0
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy 
    command: >
      bash -c "sleep 5 && cd /test-task/app && alembic upgrade head && python main.py"
  db:
    image: postgres:latest
    container_name: db
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "${POSTGRES_PORT}:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 10